.certificates-profile-pic-container{
  width: fit-content;
  border-radius: 50%;
  box-shadow: 0px 0px 3px rgb(54, 54, 54);
  box-shadow: inset 0px 0px 3px grey;
}

.certificates-profile-pic{
  width: 55px;
  border-radius: inherit;
  object-fit: cover;
}

.certificates-title{
  color: #4D4D4D;
  font-size: 1rem;
}

.certificates-subtitle{
  color: #8D8D8D;
  font-size: 0.7rem;
}

.certificates-text{
 color: #4D4D4D;
 font-size: 0.85rem;
}

.certificates-img{
  box-shadow: inset 0px 0px 3px grey;
}